.sidebarPlaylists {
  overflow-y: overlay;
  height: 50vh;
  margin-bottom: 20px;
}

.sidebarPlaylists::-webkit-scrollbar {
  width: 8px;
}

.sidebarPlaylists::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 20px;
}

.sidebarPlaylists::-webkit-scrollbar-thumb:hover {
  background-color: white;
}
